body,
html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}

.big {
  font-size: 50px;
}

.App {
  place-items: center;
  text-align: center;

  border: 20px;
  margin-top: 20px;
}
div {
  margin-top: 20px;
}
* {
  background-color: #faf9f6;
}
.country {
  background-color: aquamarine;
}

.App-link {
  color: #61dafb;
}
